---
import Layout from "../layouts/Layout.astro";
import CardProSubscription from "../components/CardProSubscription.astro";
import FormSubscription from "../components/FormSubscription.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const PAYPAL_PRO_PLAN_ID = import.meta.env.PUBLIC_PAYPAL_PRO_PLAN_ID;
---

<Layout language={lang} title="Vntotxt PRO Plan">
  <section class="md:flex md:h-screen">
    <main class="flex-col w-full pt-5 pb-10 md:w-1/2">
      <div class="px-10 py-5 text-sm breadcrumbs">
        <ul>
          <li><a href={`${lang == "es" ? "/es" : "/"}`}>Home</a></li>
          <li>Vntotxt PRO</li>
        </ul>
      </div>
      <div class="flex justify-center py-5">
        <CardProSubscription />
      </div>
    </main>
    <div
      id="checkoutVerification"
      class="flex-col justify-center py-6 px-4 md:px-20 md:flex md:w-1/2 bg-secondary"
    >
      <FormSubscription paypalPlanId={PAYPAL_PRO_PLAN_ID} tierId={2} />
    </div>
  </section>
</Layout>
