---
import Image from "astro/components/Image.astro";
import Logo from "../../public/logo_transparent_540.png";
import VoiceNoteBubble from "./VoiceNoteBubble.astro";
import TextBubble from "./TextBubble.astro";
---

<div class="mockup-phone border-accent">
    <div class="camera"></div>
    <div class="display">
        <div class="artboard artboard-demo phone-1">
            <div class="flex-col h-full w-full">
                <div class="navbar bg-primary mb-4 pt-6 w-full">
                    <div class="flex-none">
                        <div class="avatar">
                            <div class="w-10 rounded-full">
                                <Image src={Logo} alt="VnToTxt Logo" />
                            </div>
                        </div>
                    </div>
                    <div class="flex-1">
                        <span class="text-xl mx-2 font-medium">Vntotxt Bot</span
                        >
                    </div>
                    <div class="flex-none">
                        <button class="btn btn-circle btn-ghost">
                            <i class="bx bx-dots-vertical-rounded text-2xl"></i>
                        </button>
                    </div>
                </div>
                <div class="px-5">
                    <!-- style="animation-delay: 0.3s;" -->
                    <div
                        id="voicenote-bubble"
                        class="flex justify-end"
                        style="animation-delay: 0.75s;"
                    >
                        <VoiceNoteBubble />
                    </div>
                    <!-- style="animation-delay: 1.5s;" -->
                    <div
                        id="text-bubble"
                        class="mt-4 flex mr-auto"
                        style="animation-delay: 1.5s;"
                    >
                        <TextBubble />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const options = {
            root: null, // using the viewport as the root
            threshold: 0.1, // 10% of the element must be visible
            rootMargin: "0px",
        };

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("animate-popup");
                    observer.unobserve(entry.target); // Stop observing once animation is triggered
                }
            });
        }, options);

        // Add elements you want to observe
        const elements = document.querySelectorAll(
            "#voicenote-bubble, #text-bubble",
        );
        elements.forEach((el) => observer.observe(el));
    });
</script>

<style>
    #voicenote-bubble,
    #text-bubble {
        opacity: 0;
    }
</style>
