---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const socialMedia = [
  {
    link: "https://www.instagram.com/vntotxt/",
    boxicon: "bx bxl-instagram",
  },
  {
    link: "https://www.facebook.com/vntotxt",
    boxicon: "bx bxl-facebook-circle",
  },
  {
    link: "https://api.whatsapp.com/send?phone=593967960981",
    boxicon: "bx bxl-whatsapp",
  },
];
---

<footer
  class="footer footer-center p-10 bg-secondary text-base-content rounded"
>
  <nav class="grid grid-flow-col gap-4">
    <a href="/privacy-policy" class="link link-hover">{t("footer.privacy")}</a>
    <a
      href="https://api.whatsapp.com/send?phone=593990901765"
      target="_blank"
      class="link link-hover">{t("footer.contact")}</a
    >
    <a class="link link-hover" href="/es">{t("footer.language")}</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      {
        socialMedia.map((item) => (
          <a href={item.link} class="text-4xl mx-2 text-primary">
            <i class={item.boxicon} />
          </a>
        ))
      }
    </div>
  </nav>
  <aside>
    <p>Copyright © 2024 - {t('footer.rights')} Ecudevs S.A</p>
  </aside>
</footer>
