---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
    paypalPlanId: string;
    tierId: number;
}

const { paypalPlanId, tierId } = Astro.props;

const VNTOTXT_API = import.meta.env.PUBLIC_VNTOTXT_API;
const PAYPAL_CLIENT_ID = import.meta.env.PUBLIC_PAYPAL_CLIENT_ID;
const PAYPAL_PRO_PLAN_ID = import.meta.env.PUBLIC_PAYPAL_PRO_PLAN_ID;
---

<div class="my-20 md:my-0 mx-auto w-full sm:w-4/5 md:max-w-xs">
    <div class="alert alert-info mb-4 text-base-100" style="display: none;">
        <i class="bx bx-info-circle"></i>
        <span></span>
    </div>
    <div class="alert alert-error mb-4 text-base-100" style="display: none;">
        <i class="bx bxs-error-circle"></i>
        <span></span>
    </div>
    <div id="checkoutHeading">
        <h1 class="text-3xl font-ubuntu">
            {t("checkout.verification.title")}
        </h1>
        <p class="mb-6">
            {t("checkout.verification.description")}
        </p>
    </div>
    <div style="display: none" id="paymentHeading">
        <h1 class="text-3xl font-ubuntu">Checkout</h1>
        <p class="mb-6">
            {t("checkout.paypal.description")}
        </p>
    </div>
    <form id="verifyWaForm" class="w-full mx-auto md:max-w-xs">
        <label class="form-control w-full md:max-w-xs">
            <div class="label">
                <span class="label-text"
                    >{t("checkout.verification.wanumber")}</span
                >
                <!-- <span class="label-text-alt">Top Right label</span> -->
            </div>
            <input
                id="phone"
                type="tel"
                name="phone"
                class="input input-bordered w-full md:max-w-xs"
                required
            />
            <div class="label">
                <span class="label-text-alt"
                    >{t("checkout.verification.wanumber.helper")}</span
                >
                <!-- <span class="label-text-alt">Bottom Right label</span> -->
            </div>
        </label>
        <div id="divWaVerifyButton" class="flex w-full">
            <button type="submit" class="btn btn-primary mt-2 btn-block mx-auto"
                >{t("checkout.verification.send")}
                <span
                    style="display: none"
                    id="loadingSendVerificationCode"
                    class="loading loading-spinner"></span>
            </button>
        </div>
    </form>
    <!-- style="display: none" -->
    <form style="display: none" id="verifyCodeForm" class="mx-auto">
        <input
            id="subscriptionRequestIdInput"
            type="hidden"
            name="subscriptionRequestId"
        />
        <label class="form-control w-full md:max-w-xs">
            <div class="label">
                <span class="label-text">{t("checkout.verification.code")}</span
                >
                <!-- <span class="label-text-alt">Top Right label</span> -->
            </div>
            <input
                id="verificationCodeInput"
                type="text"
                name="verificationCode"
                class="input input-bordered w-full md:max-w-xs"
                required
            />
            <div class="label">
                <span class="label-text-alt"
                    >{t("checkout.verification.code.enter")}</span
                >
                <!-- <span class="label-text-alt">Bottom Right label</span> -->
            </div>
        </label>
        <div class="flex w-full">
            <button type="submit" class="btn btn-primary mt-2 btn-block mx-auto"
                >{t("checkout.verification.verify")}
                <span
                    style="display: none"
                    id="loadingVerification"
                    class="loading loading-spinner"></span>
            </button>
        </div>
    </form>
    <!-- <div style="display: none" id="paypal-button-container-P-0PC67333FG471260VMY42XTY"></div> -->
    <div style="display: none" id={"paypal-button-container-" + paypalPlanId}>
    </div>
    <input type="hidden" id="requestId" />
</div>

<script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"
></script>

<script src="../scripts/form-utils.js"></script>

<script
    type="module"
    src={`https://www.paypal.com/sdk/js?client-id=${PAYPAL_CLIENT_ID}&vault=true&intent=subscription`}
    data-sdk-integration-source="button-factory"></script>

<script
    type="module"
    define:vars={{ VNTOTXT_API, PAYPAL_CLIENT_ID, PAYPAL_PRO_PLAN_ID, tierId, lang }}
>
    window.lang = lang;

    window.onload = function () {
        // scroll to checkoutVerification
        const checkoutVerification = document.querySelector(
            "#checkoutVerification",
        );
        if (checkoutVerification) {
            checkoutVerification.scrollIntoView({ behavior: "smooth" });
        }

        instanceDocComponents(PAYPAL_PRO_PLAN_ID);

        verifyWaForm.addEventListener("submit", (event) =>
            sendVerificationCodeProcess(VNTOTXT_API, tierId, lang, event),
        );
        verifyCodeForm.addEventListener("submit", (event) =>
            verificationCodeProcess(VNTOTXT_API, false, lang, event),
        );
    };

    paypal
        .Buttons({
            style: {
                shape: "rect",
                color: "black",
                layout: "vertical",
                label: "subscribe",
            },
            createSubscription: function (data, actions) {
                return actions.subscription.create({
                    /* Creates the subscription */
                    // plan_id: "P-0PC67333FG471260VMY42XTY", // PROD
                    plan_id: PAYPAL_PRO_PLAN_ID, // TEST
                });
            },
            onApprove: function (data, actions) {
                // alert(data.subscriptionID); // You can add optional success message for the subscriber here
                confirmPurchase(VNTOTXT_API, data)
                    .then(() => console.log("Purchase confirmed"))
                    .error(console.error);
            },
        })
        // .render("#paypal-button-container-P-0PC67333FG471260VMY42XTY"); // Renders the PayPal button
        .render("#paypal-button-container-" + PAYPAL_PRO_PLAN_ID); // Renders the PayPal button
</script>
