---
import CardSubscription from "./CardSubscription.astro";
---

<div class="flex flex-col md:flex-row justify-center justify-items-center">
  <div class="w-full md:w-1/3 flex flex-col items-center mb-6 md:mb-0 px-3">
    <CardSubscription
      title="Free Plan"
      price="0"
      checkoutLink="/vntotxt-free"
      features={[
        {
          description: "<strong>15 minutos</strong> de transcripciones por mes",
          included: true,
        },
        {
          description:
            "Cuota restante en el <strong>mismo mensaje</strong> de la transcripción",
          included: true,
        },
        {
          description: "Transcripciones multilenguaje",
          included: true,
        },
        {
          description: "Soporte <strong>Basico</strong>",
          included: true,
        },
        {
          description: "Velocidad de procesamiento <strong>Standard</strong>",
          included: true,
        },
        {
          description: "Acceso a la aplicación web a ver tus transcripciones",
          included: false,
        },
      ]}
    />
  </div>
  <div class="w-full md:w-1/3 flex flex-col items-center mb-6 md:mb-0 px-3">
    <CardSubscription
      title="Pro Plan"
      commingText="Muy Pronto"
      features={[
        {
          description:
            "<strong>100 minutos</strong> de transcripciones por mes",
          included: true,
        },
        {
          description:
            "Cuota restante en un <strong>mesaje separado</strong> de la transcripción",
          included: true,
        },
        {
          description: "Transcripciones multilenguaje",
          included: true,
        },
        {
          description: "Sporte <strong>Standard</strong>",
          included: true,
        },
        {
          description: "Velocidad de procesamiento <strong>Mejorada</strong>",
          included: true,
        },
        {
          description: "Acceso a la aplicación web a ver tus transcripciones",
          included: true,
        },
      ]}
    />
  </div>
  <div class="w-full md:w-1/3 flex flex-col items-center mb-6 md:mb-0 px-3">
    <CardSubscription
      title="Premium Plan"
      commingText="Muy Pronto"
      features={[
        {
          description: "Transcriptions <strong>Ilimitadas</strong> por mes",
          included: true,
        },
        {
          description:
            "Cuota restante en un <strong>mesaje separado</strong> de la transcripción",
          included: true,
        },
        {
          description: "Transcripciones multilenguaje",
          included: true,
        },
        {
          description: "Soporte <strong>Premium</strong>",
          included: true,
        },
        {
          description:
            "Velocidad de procesamiento <strong>Prioritaria</strong>",
          included: true,
        },
        {
          description: "Acceso a la aplicación web a ver tus transcripciones",
          included: true,
        },
      ]}
    />
  </div>
</div>
