---
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import CardOrderDetails from "../../components/CardOrderDetails.astro";

const socialMedia = [
  {
    name:"instagram",
    link: "https://www.instagram.com/vntotxt/",
    boxicon: "bx bxl-instagram",
  },
  {
    name:"facebook",
    link: "https://www.facebook.com/vntotxt",
    boxicon: "bx bxl-facebook-circle",
  },
  {
    name:"whatsapp",
    link: "https://api.whatsapp.com/send?phone=593967960981",
    boxicon: "bx bxl-whatsapp",
  },
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout language="es" title="Gracias!">
  <section class="flex items-center justify-center h-screen bg-green-100">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-4 font-ubuntu">
        {t("thankyou.mainTitle")}
      </h1>
      <p class="text-xl">
        {t("thankyou.mainDescription")}
      </p>

      <CardOrderDetails />

      <a
        href="https://api.whatsapp.com/send?phone=593967960981"
        target="_blank"
        class="btn btn-primary mt-4">{t("global.startTranscribing")}</a
      >
      <div class="mt-8">
        <h2 class="text-2xl text-center">{t("thankyou.connect")}</h2>
        <div class="flex justify-center mt-4">
          {
            socialMedia.map((item) => (
              <a
                aria-label={item.name}
                href={item.link}
                target="_blank"
                class="btn btn-circle btn-accent text-2xl mx-2"
              >
                <i class={item.boxicon} />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <footer class="footer footer-center p-10 bg-primary text-primary-content">
    <aside>
      <p class="font-bold">
        <a href={`${lang == "es" ? "/es" : "/"}`} class="link">{t('thankyou.backhome')}</a>
      </p>
    </aside>
  </footer>
</Layout>
