---
import { SEO } from "astro-seo";
import ImageBro from "../../public/voice-chat-bro.png";

interface Props {
  title: string;
}

const { title } = Astro.props;

const description =
  "Discover VnToTxt: Transform WhatsApp voice notes into text effortlessly. Join us to enhance your communication and productivity with our innovative transcription service.";

let siteUrl = Astro.request.url;
siteUrl[siteUrl.length - 1] === "/"
  ? (siteUrl = siteUrl.slice(0, -1))
  : siteUrl;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: "Transform your voice notes into text",
          type: "website",
          image: siteUrl + ImageBro.src,
        },
      }}
      twitter={{
        creator: "@thianlopezz",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: siteUrl + ImageBro.src,
          },
          { name: "twitter:title", content: title },
          {
            name: "twitter:description",
            content:
              "Discover how VnToTxt can revolutionize your productivity by turning WhatsApp voice messages into text. Start now for enhanced communication.",
          },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <!-- <meta name="description" content="Astro description" /> -->
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <!-- <title>{title}</title> -->
  </head>
  <body data-theme="default">
    <slot />
  </body><!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style> -->
</html>
